.inputForm{
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 1rem;
}

.inputForm:active{
   border: 1px solid #a445ed;
   cursor: pointer;
}
.inputForm2{

  background-color:#1F1F1F;
  
  
}

.inputText::placeholder{
  color: #fff !important;
}
input{
    /* background-color: #a11e1e !important; */
   background-color: transparent !important;
    border: none !important;
    display: block;
    width: 100%;
    border-color: transparent;
    color: #2d2d2d;
    
}
input:focus{
  outline: none !important;
  box-shadow: none !important;
}
.inputText{
  color: #fff !important;
  
}
form{
  width: 70%;
  background-color: transparent;
  
}

select{
  background: none;
}

.message{
  width: 50%;
}

@media (max-width:500px){
  .message{
    width: 90%;
   
}
}

@media (max-width:900px){
  .message{
    width: 85%;
   
}
}